.navbar {
	background-color: #A66FA6;
	border-color: #A66FA6;
}

.navbar>.container>.navbar-header>.navbar-brand {
	color: white;
}

.navbar>.container>.navbar-text {
	color: white;
}

.navbar>.container>div>.navbar-nav>li>a {
	background: none;
	color: white;
	font-weight: bold;
}

.navbar>.container>div>.navbar-nav>li>a:hover {
	background: none;
	color: #530E53;
	font-weight: bold;
}

.panel>.panel-heading {
	background-color: #A66FA6;
	color: white;
	font-weight: bold;
}

textarea {
	width: 100%;
}

.login-form {width 100%;
	
}

.login-form>div {
	width 100%;
	
	margin-top: 10px;
	margin-bottom: 10px;
}

.login-form> div > button {
	
	background-color: yellow;
	color: white;
	font-weight: bold;
	border-color: dark-blue;
	
	
	
}



